@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .bg-gradient-rainbow {
    background: linear-gradient(-45deg, #000000, #fc466b, #3f5efb);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
  }
  